* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans';
}

header {
    background-color:#306BB3;
    height: 10vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
<<<<<<< HEAD
.footer {
    height: 383px;
    background: #306bb3;
    border: 1px solid #306bb3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
  }
  
  .vision-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 65%;
  }
  
  .vision {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #ffffff;
    height: 70%;
  }
  
  .sections-footer {
    color: #ffffff;
    mix-blend-mode: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
  }
=======

header>div {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
}

header>button {
    color: #306BB3;
    height: 30%;
    width: 10%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-color: #306BB3;
}

>>>>>>> 83b5c3d5615caed224ca3bf06b68c82747f4bb0d
