* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans'
}

header {
    background-color:#306BB3;
    height: 10vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

header>div {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
}

header>button {
    color: #306BB3;
    height: 30%;
    width: 10%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-color: #306BB3;
}

